AI sem II.code-workspace
mvprlab/*
semII_study/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
train/*
valid/*
testrun.ipynb
image_cropper.ipynb
datasets/butterflies/*
datasets/fruits/*
datasets/ORL_dataset/*
datasets/iris/*
datasets/test/*
datasets/train/*
mllab/*


datasets/archive (19).zip
lab_cycle_II/cufile.log
datasets/mnist_test.csv
datasets/mnist_train.csv
